<h1>&nbsp; Vehicle Service</h1>

<div>
    <a mat-button (click)="setAdd()">{{isAdding ? 'Close create mode' : 'Create Vehicle'}}</a>
</div>

<div *ngIf="!isAdding; else createVehicleServiceTemplate">
    <!-- <mat-form-field>
        <mat-label>Search: </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Aguiar de Sousa" #input>
    </mat-form-field> -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="vin">
            <th mat-header-cell *matHeaderCellDef> VIN </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.vehicle.vin}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.date | date:'mediumDate'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<ng-template #createVehicleServiceTemplate>
<div [formGroup]="vehicleServiceForm">
    <section class="example-section">
        <mat-form-field appearance="fill">
            <mat-label>Service Date</mat-label>
            <input matInput [matDatepicker]="picker"
            formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp;
          <mat-form-field class="example-full-width">
            <mat-label>Vehicle</mat-label>
            <mat-select class="form-control" formControlName="vehicleId">
                <mat-option *ngFor="let vehicle of vehicleList" [value]="vehicle.id">
                    {{ vehicle.licencePlate}} ({{vehicle.vehicleType.description}})
                </mat-option>
            </mat-select>
        </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp;    
    </section>
</div>
<div>
    <a mat-button (click)="submit()">Submit</a>
</div>

<div *ngIf="hasSubmited">
    <ul>
        <div *ngFor="let submitMessage of submitMessages">
            <mat-sucess-label>{{submitMessage}}</mat-sucess-label>
        </div>
    </ul>
</div>

<div *ngIf="hasError">
    <ul>
        <div *ngFor="let errorMessage of errorMessages">
            <mat-error-label>{{errorMessage}}</mat-error-label>
        </div>
    </ul>
</div>
</ng-template>

