<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon aria-hidden="false" aria-label="Example home icon">directions_bus</mat-icon>&nbsp; &nbsp;Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="goToNodes()"><mat-icon aria-hidden="false" aria-label="Example home icon">pin_drop</mat-icon>&nbsp; &nbsp;Nodes</a>
      <a mat-list-item (click)="goToNodes()"><mat-icon aria-hidden="false" aria-label="Example home icon">alt_route</mat-icon>&nbsp; &nbsp;Routes</a>
      <a mat-list-item (click)="goToLines()"><mat-icon aria-hidden="false" aria-label="Example home icon">add_road</mat-icon>&nbsp; &nbsp;Lines</a>
      <a mat-list-item (click)="goToTType()"><mat-icon aria-hidden="false" aria-label="Example home icon">emoji_people</mat-icon>&nbsp; &nbsp;Tripulant Type</a>
      <a mat-list-item (click)="goToVType()"><mat-icon aria-hidden="false" aria-label="Example home icon">directions_bus</mat-icon>&nbsp; &nbsp;Vehicle Type</a>
      <a mat-list-item (click)="goToTGLX()"><mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon>&nbsp; &nbsp;Import GLX</a>
    </mat-nav-list>    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Viajantes 2</span>
    </mat-toolbar>
  <router-outlet></router-outlet>

  </mat-sidenav-content>
 
</mat-sidenav-container>
