<h1>&nbsp; Trips</h1>

<div *ngIf="!isAdding && !isAddingAdHoc">
    <a mat-button (click)= "setAdd()" >Create Trip</a>
    <a mat-button (click)= "setAddAdHoc()" >Create Trip AdHoc</a>
</div>

<div *ngIf="isAdding || isAddingAdHoc">
    <a mat-button (click)="closeAdd()">Close create mode</a>
</div>

<div *ngIf="!isAdding && !isAddingAdHoc">
    <mat-form-field>
        <mat-label>Search: </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Aguiar de Sousa" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="line">
            <th mat-header-cell *matHeaderCellDef> Line </th>
            <td mat-cell *matCellDef="let trip"> {{trip.line.code}} </td>
        </ng-container>
        <ng-container matColumnDef="route">
            <th mat-header-cell *matHeaderCellDef> Route </th>
            <td mat-cell *matCellDef="let trip"> {{trip.route.routeNodes[0].node.shortName}} - 
                {{trip.route.routeNodes[trip.route.routeNodes.length-1].node.shortName}} </td>
        </ng-container>
        <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef> Start Time </th>
            <td mat-cell *matCellDef="let trip"> {{trip.startTime}} </td>
        </ng-container>
        <ng-container matColumnDef="endTime">
            <th mat-header-cell *matHeaderCellDef> End Time </th>
            <td mat-cell *matCellDef="let trip"> {{trip.endTime}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div *ngIf="isAdding && !isAddingAdHoc">

    <div [formGroup]="tripForm">
        
        <section class="example-section">
            <mat-form-field class="example-full-width">
                <mat-label>Line</mat-label>
                <mat-select class="form-control"  formControlName="line" (selectionChange)="refreshRouteLine($event.value)">
                    <mat-option *ngFor="let line of lineList" [value]="line.id">
                    {{ line.code }}
                    </mat-option>
                </mat-select>
            </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp; 

            <mat-form-field class="example-full-width">
                <mat-label>Route</mat-label>
                <mat-select class="form-control"  formControlName="route">
                    <mat-option *ngFor="let route of lineRouteList" [value]="route.id">
                    {{route.routeNodes[0].node.shortName}} - {{route.routeNodes[route.routeNodes.length-1].node.shortName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp; 

            <mat-label>Start Time: </mat-label>
            <input atp-time-picker formControlName="startTime" />

        </section>

        <section class="example-section">
            <mat-form-field class="example-full-width">
                <mat-label>Frequency (minutes)</mat-label>
                <input matInput class="form-control" formControlName="frequency">
                <mat-error *ngIf="formControl.hasError('required')">
                    Frequency is <strong>required</strong>
                </mat-error>
            </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp; 

            <mat-form-field class="example-full-width">
                <mat-label>Number of Trips</mat-label>
                <input matInput class="form-control" formControlName="numberOfTrips">
                <mat-error *ngIf="formControl.hasError('required')">
                    Number of Trips is <strong>required</strong>
                </mat-error>
            </mat-form-field>

        </section>

    </div>
    <div>
        <a mat-button (click)= "submit()">Submit</a>
    </div>
    <div *ngIf="hasError">
        <ul>
            <div *ngFor="let errorMessage of errorMessages">
                <mat-error-label>{{errorMessage}}</mat-error-label>
            </div>
        </ul>
    </div>

</div>

<div *ngIf="!isAdding && isAddingAdHoc">

    <div [formGroup]="tripAdHocForm">
        
        <section class="example-section">
            <mat-form-field class="example-full-width">
                <mat-label>Line</mat-label>
                <mat-select class="form-control"  formControlName="line" (selectionChange)="refreshRouteLine($event.value)">
                    <mat-option *ngFor="let line of lineList" [value]="line.id">
                    {{ line.code }}
                    </mat-option>
                </mat-select>
            </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp; 

            <mat-form-field class="example-full-width">
                <mat-label>Route</mat-label>
                <mat-select class="form-control"  formControlName="route">
                    <mat-option *ngFor="let route of lineRouteList" [value]="route.id">
                    {{route.routeNodes[0].node.shortName}} - {{route.routeNodes[route.routeNodes.length-1].node.shortName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp;

            <mat-label>Start Time: </mat-label>
            <input atp-time-picker formControlName="startTime" />

        </section>

    </div>
    <div>
        <a mat-button (click)= "submitAdHoc()">Submit</a>
    </div>
    <div *ngIf="hasError">
        <ul>
            <div *ngFor="let errorMessage of errorMessages">
                <mat-error-label>{{errorMessage}}</mat-error-label>
            </div>
        </ul>
    </div>

</div>