<h1>&nbsp; Lines</h1>

<div *ngIf="!isViewingRoutes; else viewLineRoutesTemplate">

  <div>
    <a mat-button (click)= "setAdd()" >{{isAdding ? 'Close create line' : 'Create Line'}}</a>
  </div>

  <div *ngIf="!isAdding; else createLineTemplate">

    <mat-form-field  class="example-full-width">
      <mat-label>Name: </mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Aguiar de Sousa" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <td mat-cell *matCellDef="let lines"> {{lines.code}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let lines" > {{lines.name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef > Color </th>
        <td mat-cell *matCellDef="let lines"> {{lines.color}} </td>
      </ng-container>

      <ng-container matColumnDef="beginNode">
          <th mat-header-cell *matHeaderCellDef> Begin Node </th>
          <td mat-cell *matCellDef="let lines"> {{lines.beginNode.shortName}} </td>
        </ng-container>

        <ng-container matColumnDef="finalNode">
          <th mat-header-cell *matHeaderCellDef> Final Node </th>
          <td mat-cell *matCellDef="let lines"> {{lines.finalNode.shortName}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
          <mat-cell *matCellDef="let row" >
              <button mat-button (click)= "onShowDetails(row)" ><mat-icon color='blueviolet'>visibility</mat-icon></button><button mat-button ><mat-icon color='blueviolet'>remove_circle</mat-icon></button>
          </mat-cell>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <ng-template #createLineTemplate>
    
    <div [formGroup]="lineForm">
      <mat-label>Add Node</mat-label>
    <button mat-button (click)= "insertRoute()" ><mat-icon color='blueviolet'>add_box</mat-icon></button>
      <section class="example-section">

        <mat-form-field class="example-full-width">
          <mat-label>Code</mat-label>
          <input matInput class="form-control" formControlName="code">
          <mat-error *ngIf="formControl.hasError('required')">
            Code is <strong>required</strong>
          </mat-error>
        </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp;

        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput class="form-control" formControlName="name">
          <mat-error *ngIf="formControl.hasError('required')">
            Line Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp; 

        <mat-form-field class="example-full-width">
          <mat-label>Color</mat-label>
          <input matInput class="form-control" formControlName="color">
          <mat-error *ngIf="formControl.hasError('required')">
            Line Color is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-label> <br><br>Begin Node<br><br></mat-label>
        <mat-form-field class="example-full-width">
          <mat-label>Node</mat-label>
          <mat-select class="form-control"  formControlName="beginNode">
            <mat-option *ngFor="let node of nodeList" [value]="node.id">
              {{ node.shortName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label> <br><br>Final Node<br><br></mat-label>
        <mat-form-field class="example-full-width">
          <mat-label>Node</mat-label>
          <mat-select class="form-control"  formControlName="finalNode">
            <mat-option *ngFor="let node of nodeList" [value]="node.id">
              {{ node.shortName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label> <br><br>Tripulant Types<br><br></mat-label>
        <mat-form-field class="example-full-width">
          <mat-label>Tripulant Type</mat-label>
          <mat-select class="form-control"  formControlName="tripulantType" multiple>
            <mat-option *ngFor="let tripType of tripList" [value]="tripType._id">
              {{ tripType.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label> <br><br>Vehicle Types<br><br></mat-label>
        <mat-form-field class="example-full-width">
          <mat-label>Vehicle Type</mat-label>
          <mat-select class="form-control"  formControlName="vehicleType" multiple>
            <mat-option *ngFor="let vType of vehicleTypesList" [value]="vType._id">
              {{ vType.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </section>
    </div>
    <div *ngFor="let control of lineRoutesForm.controls; index as i">
      <mat-label> <br><br>Line Route<br><br></mat-label>
      <mat-form-field class="example-full-width">
        <mat-label>Route</mat-label>
        <mat-select class="form-control" [formControl]="lineRoutesForm.controls[i]">
          <mat-option *ngFor="let route of routeList" [value]="route.id">
            {{route.routeNodes[0].node.shortName}} - {{route.routeNodes[route.routeNodes.length-1].node.shortName}}
          </mat-option>
        </mat-select>        
      </mat-form-field><br><br>

      <mat-form-field class="example-full-width">
      <mat-label>Orientation</mat-label>
        <mat-select class="form-control" [formControl]="orientationArray.controls[i]">
          <mat-option *ngFor="let orientationG of orientations" [value]="orientationG.value">
            {{ orientationG.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> 
    </div>
    <div>
      <a mat-button (click)= "submit()">Submit</a>
    </div>
  </ng-template>

</div>

<ng-template #viewLineRoutesTemplate>

  <div *ngIf="hasRoutes; else viewNoRoutesTemplate">

    <section class="example-section">
      <ul>
        <li *ngFor="let lineRoute of lineRoutes">
          <mat-label>Route Orientation: </mat-label>
          {{lineRoute.orientation}}
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <mat-label>Distance: </mat-label>
          {{lineRoute.routeId.distance}}
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <mat-label>Duration: </mat-label>
          {{lineRoute.routeId.duration}}
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <mat-label>Empty? </mat-label>
          {{lineRoute.routeId.isEmptyRoute}}
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <mat-label>Reinforcement? </mat-label>
          {{lineRoute.routeId.isReinforcementRoute}}

          <ul>
            <li *ngFor="let routeNode of lineRoute.routeId.routeNodes">
              <mat-label>Node Short Name: </mat-label>
              {{routeNode.nodeId.shortName}}
              &nbsp; &nbsp; &nbsp; &nbsp; 
              <mat-label>Latitude: </mat-label>
              {{routeNode.nodeId.latitude}}
              &nbsp; &nbsp; &nbsp; &nbsp; 
              <mat-label>Longitude: </mat-label>
              {{routeNode.nodeId.longitude}}
            </li>
          </ul>
        </li>
      </ul>
    </section>

  </div>

  <ng-template #viewLineRoutesTemplate>
    <mat-label>No routes were found to the Selected Line.</mat-label>
  </ng-template>

  <div>
    <a mat-button (click)= "setViewLineRoutes()" >Close View</a>
  </div>

</ng-template>